@inject IHttpContextAccessor HttpContextAccessor
@{
    var sessionTimeout = HttpContextAccessor.HttpContext!.RequestServices.GetRequiredService<IOptions<SessionOptions>>().Value.IdleTimeout.TotalSeconds;

    var sessionStartTime = HttpContextAccessor.HttpContext.Session.GetString("SessionStartTime");
    var request = new UnlockScreenRequest();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>

   <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />

   <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
 
   <link href="~/lib/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />


    
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

    
    <link href="~/sb/css/styles.css" rel="stylesheet" />
    <link href="~/css/jquerydatatable.css" rel="stylesheet" />

    
    <link href="~/css/breadcrumbs.css" rel="stylesheet" />
    <link href="~/css/lockscreen.css" rel="stylesheet" />

</head>
<body class="sb-nav-fixed">

    <div id="lockScreenOverlay">
        <div class="lockScreen hide-contents">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12" >
                        <div class="card shadow-lg border-0 rounded-lg mt-4">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Screen Locked!</h3></div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">Enter your password to unlock screen.</div>
                                <form id="lockScreenForm" asp-action="UnlockScreen">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-group mb-3">
                                                <input asp-for="@request.Password" id="password" name="password" placeholder="Password" class="form-control" />
                                                <span asp-validation-for="@request.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <button type="submit" class="btn " style="background: #d6ad53 !important; color:#fff !important; width:100%; color:#444d6a !important;"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" style="color: #fff !important;" asp-controller="Home" asp-action="DashBoard">Analyt<b style="background: #d6ad53 !important;"> IQ &nbsp;</b> </a>
        
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

            

            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" onclick="removeTokenFromStorage()" asp-action="Logout" asp-controller="Auth">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav mt-4">
                       
                        <a class="nav-link" asp-controller="FinancialData" asp-action="Dividends">
                            <div class="sb-nav-link-icon"><i class="bi bi-currency-exchange"></i></div>
                            Dividends
                        </a>
                        <a class="nav-link" asp-controller="FinancialData" asp-action="Earnings">
                            <div class="sb-nav-link-icon"><i class="bi bi-currency-exchange"></i></div>
                            Earnings
                        </a>
                        <a class="nav-link" asp-controller="FinancialData" asp-action="StockPrices">
                            <div class="sb-nav-link-icon"><i class="bi bi-currency-exchange"></i></div>
                            Stock Prices
                        </a>
                        <a class="nav-link" asp-controller="Employee" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                            Employees
                        </a>
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                            Users
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @ViewBag.Name
                </div>
            </nav>
        </div>
       
        <div id="layoutSidenav_content">
            <div class="navbar sticky-top pt-4 px-3">
                @*<ul id="breadcrumbs" class="breadcrumbs">
                    <!-- Breadcrumb items will be dynamically generated here -->
                </ul>*@
                <ul>

                </ul>
                @if (ViewBag.Show == true)
                {
                    <button type="submit" class="btn btn-sm float-end" style="background: #444d6a !important; color:#fff !important;" asp-action="FetchAll" asp-controller="FinancialData">
                        Fetch Data
                    </button>
                }
            </div>
            <main>
                <div class="container-fluid px-4 py-2">
                   
                </div>

                <div class="px-4 py-2">
                    @RenderBody()
                </div>
                   

            </main>
            <footer class="py-4 bg-light mt-auto sticky-bottom">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Analyt<b style="background: #d6ad53 !important;"> IQ &nbsp;</b> 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
   
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

    <script src="~/sb/js/scripts.js?v=1"></script>


    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/js/jquerydatatable.js"></script>
    <script src="~/js/csrf.js?v=1"></script>
    <script src="~/js/localstorage.js"></script>
    <script src="~/js/modalhelper.js?v=18"></script>
    <script src="~/js/lockscreen.js?v=4"></script>
    <script src="~/js/unlockscreen.js?v=3"></script>
    <script src="~/js/updateemployeesalary.js?v=79"></script>

    
    <script>
        if (window.history && window.history.pushState) {
            window.history.pushState(null, null, document.URL);
            window.addEventListener('popstate', function () {
                window.history.pushState(null, null, document.URL);
            });
        }
    </script>

    <script>
        function removeTokenFromStorage() {
            removeFromLocalStorage("authToken");
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/csrf.js"></script>
</body>
</html>
