@model ForgotPasswordRequest

@{
    ViewData["Title"] = "Password Reset";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                <form id="forgotPasswordForm" asp-action="ForgotPassword">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-group mb-3">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <button type="submit" class="btn " style="background: #d6ad53 !important; color:#fff !important; width:100%; color:#444d6a !important;"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a asp-controller="User" asp-action="RegisterView">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


 @section Scripts{
    <script>
        $(document).ready(function () {
            $("#forgotPasswordForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("ForgotPassword", "User")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            
                            Swal.fire({
                                icon: 'success',
                                text: 'Sent! If the email address you provided is correct, please check your inbox for the password reset link.',
                                showCancelButton: false,
                                confirmButtonText: 'Okay',
                                //cancelButtonText: 'Close',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("Index", "Home")';
                                }
                            });

                            resetForgotPasswordForm();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Operation failed',
                                text: 'An error occurred during registration.',
                            });
                        }

                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'AJAX request failed',
                            text: 'An error occurred while communicating with the server.',
                        });
                    }
                });
            });
        });
    </script>

    <script>
        resetForgotPasswordForm();
    </script>

}