@model ResetPasswordRequest

@{
    ViewData["Title"] = "Password Reset";
    
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                            <div class="card-body">

                                <form id="passwordResetForm" asp-action="ResetPassword">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" name="userId" value="@ViewBag.UserId" />
                                    <input type="hidden" name="token" value="@ViewBag.Token" />
                                    <div class="row mb-3">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group mb-3">
                                                <label asp-for="PasswordConfirm" class="control-label"></label>
                                                <input asp-for="PasswordConfirm" class="form-control" />
                                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <button type="submit" class="btn " style="background: #d6ad53 !important; color:#fff !important; width:100%; color:#444d6a !important;"><strong>Submit</strong></button>
                                    </div>
                                </form>


                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a asp-controller="Auth" asp-action="LoginView">Go to login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#passwordResetForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("ResetPassword", "User")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            resetPasswordResetForm();

                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Please login to continue',
                                showCancelButton: false,
                                confirmButtonText: 'Okay',
                                //cancelButtonText: 'Close',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("LoginView", "Auth")';
                                }
                            });

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Operation failed',
                                text: 'An error occurred during password reset.',
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'AJAX request failed',
                            text: 'An error occurred while communicating with the server.',
                        });
                    }
                });
            });
        });
    </script>

    <script>
        resetPasswordResetForm();
    </script>


}